body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0%;
  padding: 0%;
  background-color: black;
  /* background-image: url("./image.png"); */
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  background-color: rgb(109, 181, 243);
  width: 40%;
  border-radius: 1.5em;
  padding: 20px 20px 20px 20px;
  top: 2%;
  left: 30%;
  height: 1.8em;
  margin: 0%;
  z-index: 10;
}
.logo {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  margin-left: 1.5em;
}

.navbar a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  margin-right: 4rem;
  transition: 0.3s ease-in-out;
}

.navbar a:hover .navbar a.active {
  border-bottom: 2px solid transparent;
}

.navbar a:hover {
  cursor: pointer;
  border-bottom: 2px solid white;

  transform: scale(1.2);
}

.navbar a.active {
  border-bottom: 2px solid white;
}

.main {
  width: 100%;
  height: 100vh;
}
.subject-grid {
  margin-top: 6rem;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding: 20px;
}

.subject-box {
  border-radius: 1rem;
  padding: 20px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 18em;
  height: 13em;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in-out;
}

.test {
  margin-top: -6em;
}
.subject-box:hover {
  transform: scale(1.05);
}

.subject-box h2 {
  font-size: 1.5rem;
  color: black;
  margin-top: 0%;
  border-left: 0.1em solid black;
  padding: 0.3em;
}

.play-btn {
  display: inline-flex;
  justify-content: center;

  /* align-items: center; */
  /* padding: 10px; */
  /* border: 1rem solid seagreen; */
  border-radius: 10rem;
  color: floralwhite;
  text-decoration: none;
  font-size: 2.5rem;
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  transition: 0.4s ease-in-out;
}
.play-btn:hover {
  color: silver;
}

.subject-box:nth-child(1) {
  background-image: url("https://www.shutterstock.com/image-vector/cognitive-ability-skill-think-process-600nw-2195232273.jpg");
}

.subject-box:nth-child(2) {
  background-image: url("https://st2.depositphotos.com/3591429/6308/i/450/depositphotos_63082893-stock-photo-hands-holding-word-logic.jpg");
}

.subject-box:nth-child(3) {
  background-image: url("https://media.gettyimages.com/id/1336438227/video/concept-of-students-distance-learning-or-business-womens-home-office-freelance-working-life.jpg?s=640x640&k=20&c=YwrNuhiQ-jqcq_fQcASHTEmutOZ1hQEHdn-ivMs_Pno=");
}

.subject-box:nth-child(4) {
  background-image: url("https://img.freepik.com/premium-vector/old-computer-desktop-with-hot-coffee-plant-vector-icon-illustration_138676-207.jpg");
}

.subject-box:nth-child(5) {
  background-image: url("https://www.shutterstock.com/image-vector/oop-object-oriented-programming-acronym-260nw-2029215269.jpg");
}

.subject-box:nth-child(6) {
  background-image: url("https://skill.webdroidedutech.com/wp-content/uploads/2024/10/dsaa.png");
}

.subject-box:nth-child(7) {
  background-image: url("https://media.istockphoto.com/id/1352564117/vector/database-sql-structured-query-language-people-team-discuss-coding-for-storing-data-in-server.jpg?s=612x612&w=0&k=20&c=eRlvikJYlY8tJ8pVxgZFUv5GLgQbTy_rq18jKLZxq8A=");
}

.subject-box:nth-child(8) {
  background-image: url("https://www.shutterstock.com/image-vector/business-problem-creative-solving-company-600nw-2471360879.jpg");
}

@media (max-width: 768px) {
  body {
    overflow: scroll;
    background-color: black;
  }
  .header {
    flex-direction: column;
    padding: 1.5em 0em 1em 0em;
    width: 100%;
    border-radius: none;
    background-color: black;
    left: 0%;
    top: 0%;
    height: 6em;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3em;
      margin-left: 0em;
    }
    .navbar {
      margin-top: 1em;
      a {
        margin: 1em;
      }
    }
  }
  .main {
    overflow: scroll;
    .subject-grid {
      justify-content: center;
      align-items: start;
      padding: 0em;
      height: auto;
      flex-direction: row;
      margin-top: 8em;

      .subject-box {
        width: 80%;
        height: 13em;
        margin: 1em;
        opacity: 0;
        transform: scale(0.7);
        transition: all 0.5s ease-out;
      }
      .subject-box.show {
        opacity: 1;
        transform: scale(1);
      }
      .test {
        margin-top: 1em;
      }
      .last {
        margin-bottom: 5em;
      }
    }
  }
}
